<footer class="footer" [style.marginBottom.px]="cookieBannerHeight">
  <div>
    <ul class="footer--list">
      <li class="footer--list-element">
        <a href="https://github.com/xenonso" class="footer--link">Github</a>
      </li>
      <li class="footer--list-element">
        <a href="https://angular.io/" class="footer--link">Angular</a>
      </li>
      <li class="footer--list-element">
        <a href="https://www.linkedin.com/in/jakub-stanis%C5%82awczyk-33128b142/" class="footer--link">Linkedin</a>
      </li>
      <li class="footer--list-element">
        <a href="https://www.cookielaw.org/the-cookie-law/" class="footer--link">Cookie policy</a>
      </li>
    </ul>
  </div>  
</footer>