<section class="users">
  <h2 class="users__title">Manage users</h2>
  <a routerLink="/user-create" class="users__create-user-link">Create user</a>

  <div class="users__list">
    <div class="users__user-label">
      <div class="users__user-data">
        <div class="users__user-data-field">
          <div class="users__user-data-key">
            <span class="users__user-data-key-text">Name:</span>
          </div>
          <div class="users__user-data-value">
            John Smith
          </div>
        </div>

        <div class="users__user-data-field">
          <div class="users__user-data-key">
             <span class="users__user-data-key-text">Email:</span>
          </div>
          <div class="users__user-data-value">
            John@test.com
          </div>
        </div>

        <div class="users__user-data-field">
          <div class="users__user-data-key">
             <span class="users__user-data-key-text">Roles:</span>
          </div>
          <div class="users__user-data-value">
            Admin, Recruiter
          </div>
        </div>
      </div>
      <div class="users__user-control-buttons">
        <button class="users__button">Activate user</button>
        <button class="users__button">Remove user</button>
      </div>
    </div>
  </div>
</section>
