<section class="users">
  <h2 class="users__title">Manage users</h2>

  <div class="users__control-panel">
    <div class="users__control-panel-buttons">
      <a routerLink="/user-create" class="users__control-panel-button">Create user</a>
      <button (click)="findUsers()" class="users__control-panel-button">Find users</button>
    </div>
  </div>

  <div class="users__errors">
    <p *ngIf="removeUserErrorOccurred" class="users__error-message">Couldn't remove user. Error occurred</p>
    <p *ngIf="findUsersErrorOccurred" class="users__error-message">Couldn't find users. Error occurred</p>
  </div>

  <div class="users__list">
    <div *ngFor="let user of usersList;" class="users__user-label">
      <div class="users__user-data">
        <div class="users__user-data-field">
          <div class="users__user-data-key">
            <span class="users__user-data-key-text">Name:</span>
          </div>
          <div class="users__user-data-value">
            {{ user.firstName }} {{ user.lastName }}
          </div>
        </div>

        <div class="users__user-data-field">
          <div class="users__user-data-key">
             <span class="users__user-data-key-text">Email:</span>
          </div>
          <div class="users__user-data-value">
            {{ user.email }}
          </div>
        </div>

        <div class="users__user-data-field">
          <div class="users__user-data-key">
             <span class="users__user-data-key-text">Roles:</span>
          </div>
          <div class="users__user-data-value">
            <span *ngFor="let role of user.roles">
              {{ role.authority }}
            </span>
          </div>
        </div>
      </div>
      <div class="users__user-control-buttons">
        <button class="users__button">Activate user</button>
        <button (click)="handleUserDelete(user._id)" class="users__button">Remove user</button>
      </div>
    </div>
  </div>

  <div *ngIf="isDeleteConfirmationPopupOpened" class="users__overlay">
    <div class="users__delete-confirmation-popup">
      <h2 class="users__delete-confirmation-title">Delete user confirmation</h2>
      <p class="users__delete-confirmation-info">Do you want to delete user? It can't be undone</p>
      <div class="users__delete-confirmation-buttons">
        <button (click)="closeDeleteConfirmationPopup()" class="users__button">Cancel</button>
        <button (click)="deleteUserById(userIdForDeleteConfirmation)" class="users__button">Delete</button>
      </div>
    </div>
  </div>
</section>
