@import '../../styles-variables.scss';
@import '../../styles-mixins.scss';

.users {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;

  &__title {
    margin-top: 40px;
    font-weight: 500;
  }

  &__create-user-link {
    margin: 20px 0;
    @include grey-button();
  }
}

@media (min-width: $tablet) {
  .users {
    &__title {
      font-size: 2rem;
    }

    &__create-user-link {
      margin: 25px 0;
      align-self: flex-start;
    }
  }
}

@media (min-width: $desktop) {
  .users {
    &__title {
      font-size: 2.5rem;
    }
  }
}
