@import '../../styles-variables.scss';
@import '../../styles-mixins.scss';

.application {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;

    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    } 

    &__title {
        margin-top: 40px;
        font-weight: 500;
    }

    &__technology-group {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__input-label {
        width: 100%;
        max-width: 300px;
        position: relative;
    }

    &__input-info-error {
        width: 80%;
        margin-top: 5px;
        color: #f00;
    }

    &__input-title {
        margin-top: 30px;
        margin-bottom: 5px;
    }

    &__input-group {
        margin-bottom: 30px;

        &:last-child {    
            margin-bottom: 0;
        }
    }

    &__input-group-button {
        width: 35px;
        height: 35px;
        position: absolute;
        bottom: 30px;
        right: 0;
        border: none;
        border-radius: 3px;
        background: #000;
        font-size: 30px;
        color: #fff;
        
        &--decrease {
            bottom: 96px;  
        }

        &:hover {
            color: $pear-green;
            cursor: pointer;
        }

        &--disabled {
            color: #666;

            &:hover {
                color: #666;
                cursor: default;
            }
        }
    }

    &__input {
        width: 100%;
        height: 30px;
        @include form-input();
    
        &--textarea {
            height: 130px;
            margin-bottom: 30px;
        }

        &--medium {
            width: 60%;
        }

        &--small {
            width: 15%;
            margin-left: 15px;
        }
    }

    &__submit {
        margin: 30px auto;
        border: none;
        background: none;
        cursor: pointer;
        @include grey-button(); 

        &:hover { 
            color: $pear-green;
        }

        &--disabled { 
           @include grey-button-disabled();
        }
    }
}

@media (min-width: $tablet) {
    .application {  
        &__title {
            font-size: 2rem;
        }

        &__input-label {
            max-width: 400px;
        }

        &__input-group-button {
            width: 46px;
            height: 46px;

            &--decrease {
                bottom: 106px;  
            }
        }    
    
        &__input {
            height: 40px;
            font-size: 1rem;

            &--textarea {
                height: 160px;
                margin-bottom: 40px;
            }
        }

        &__submit {
            margin: 40px auto;
        }
    }   
}

@media (min-width: $desktop) {
    .application {  
        &__title {
            font-size: 2.5rem;
        }

        &__input-label {
            max-width: 800px;
        }
    
        &__input {
            font-size: 1.2rem;

            &--textarea {
                height: 200px;
                margin-bottom: 50px;
            }

            &--medium {
                width: 70%;
            }
        }

        &__submit {
            margin: 50px auto;
        }
    }   
}