<section class="candidates">
  <h2 class="candidates__title">Find candidates</h2>

  <div class="candidates__dashboard">
    <div class="candidates__control-panel">
      <h3 class="candidates__search-title">Search criteria</h3>

      <div class="candidates__input-labels">
        <label class="candidates__input-label">
          <p class="candidates__input-title">First name:</p>
          <input class="candidates__input-field" type="text" placeholder="John"/>
        </label>

        <label class="candidates__input-label">
          <p class="candidates__input-title">Last name:</p>
          <input class="candidates__input-field" type="text" placeholder="Smith"/>
        </label>

        <label class="candidates__input-label">
          <p class="candidates__input-title">Job position:</p>
          <input class="candidates__input-field" type="text" placeholder="Junior Java"/>
        </label>

        <label class="candidates__input-label">
          <p class="candidates__input-title">Experience years:</p>
          <input class="candidates__input-field" type="number" placeholder="4"/>
        </label>
      </div>

      <div class="candidates__size-buttons">
        <p>Candidates displayed</p>
        <button class="candidates__size-button">10</button>
        <button class="candidates__size-button">20</button>
        <button class="candidates__size-button">30</button>
      </div>

      <button (click)="handleFindCandidatesButtonClick()" class="candidates__input-button">Find users</button>
    </div>

    <div class="candidates__list">
      <div class="candidates__candidate">
        <div class="candidates__candidate-field">
          <span class="candidates__candidate-field-title">First name: </span>
          <span class="candidates__candidate-field-value">TEST</span>
        </div>

        <div class="candidates__candidate-field">
          <span class="candidates__candidate-field-title">Last name: </span>
          <span class="candidates__candidate-field-value">TEST</span>
        </div>

        <div class="candidates__candidate-field">
          <span class="candidates__candidate-field-title">Email: </span>
          <span class="candidates__candidate-field-value">TEST</span>
        </div>

        <div class="candidates__candidate-field">
          <span class="candidates__candidate-field-title">Job: </span>
          <span class="candidates__candidate-field-value">TEST</span>
        </div>

        <div class="candidates__candidate-field">
          <span class="candidates__candidate-field-title">Experience years: </span>
          <span class="candidates__candidate-field-value">TEST</span>
        </div>
      </div>
    </div>

    <div class="candidates__pagination">
      <button class="candidates__page-number">
        1
      </button>
    </div>
  </div>
</section>
