<section class="candidates">
  <h2 class="candidates__title">Find candidates</h2>

  <div class="candidates__dashboard">
    <div class="candidates__control-panel">

    </div>
    <div class="candidates__list">
      <div class="candidates__candidate">
        <div class="candidates__candidate-field">
          <p>First name: </p>
        </div>

        <div class="candidates__candidate-field">
          <p>Last name: </p>
        </div>

        <div class="candidates__candidate-field">
          <p>Email: </p>
        </div>

        <div class="candidates__candidate-field">
          <p>Job: </p>
        </div>

        <div class="candidates__candidate-field">
          <p>Experience years: </p>
        </div>
      </div>
    </div>
  </div>
</section>
