@import '../../styles-variables.scss';
@import '../../styles-mixins.scss';

.candidates {
    text-align: center;

    &__title {
        margin-top: 40px;
        font-weight: 500;
    }
}

@media (min-width: $tablet) {
    .candidates {
        &__title {
            font-size: 2rem;
        }    
    }
}

@media (min-width: $desktop) {
    .candidates {
        &__title {
            font-size: 2.5rem;
        } 
    }
}