<div class="mobile-nav">
  <div (click)="handleMobileSidebarVisibility()" class="mobile-nav__hamburger">
    <div class="mobile-nav__hamburger-line"></div>
    <div class="mobile-nav__hamburger-line"></div>
    <div class="mobile-nav__hamburger-line"></div>
  </div>

  <a routerLink="/" class="mobile-nav__title">Recruitment Helper</a>

  <div [ngClass]="{'mobile-nav__overlay': mobileSidebarOpened}">
    <nav [ngClass]="mobileSidebarOpened ? 'mobile-nav__navigation-opened' : 'mobile-nav__navigation-closed'" class="mobile-nav__navigation">
      <h2 (click)="handleMobileSidebarVisibility()" class="mobile-nav__sidebar-close">
        <div class="mobile-nav__sidebar-close-arrow"></div>
        Close
      </h2>
      <ul class="mobile-nav__list">
        <li class="mobile-nav__list-element">
          <a (click)="handleMobileSidebarVisibility()" routerLink="/" class="mobile-nav__link">Home</a>
        </li>
        <li class="mobile-nav__list-element">
          <a (click)="handleMobileSidebarVisibility()" routerLink="/application" class="mobile-nav__link">Application</a>
        </li>
        <li class="mobile-nav__list-element">
          <a *ngIf="!isUserAuthenticated" (click)="handleMobileSidebarVisibility()" routerLink="/login" class="mobile-nav__link">Login</a>
        </li>
        <li class="mobile-nav__list-element">
          <a *ngIf="isUserAuthenticated && isAdmin" (click)="handleMobileSidebarVisibility()" routerLink="/users" class="mobile-nav__link">Users</a>
        </li>
        <li class="mobile-nav__list-element">
          <a *ngIf="isUserAuthenticated && isRecruiter" (click)="handleMobileSidebarVisibility()" routerLink="/candidates" class="mobile-nav__link">Candidates</a>
        </li>
        <li class="mobile-nav__list-element">
          <a *ngIf="isUserAuthenticated" (click)="handleMobileSidebarVisibility()" routerLink="/account" class="mobile-nav__link">Account</a>
        </li>
        <li class="mobile-nav__list-element">
          <a *ngIf="isUserAuthenticated" (click)="logout()" class="mobile-nav__link">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
