@import '../../../styles-variables.scss';

.mobile-nav {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-grey;
    color: #fff;

    &__hamburger {
        width: 30px;
        height: 20px;
        position: absolute;
        left: 20px;

        &-line {
            height: 3px;
            width: 30px;
            margin-bottom: 7px;
            background: #fff;

            &:last-child {
                margin-bottom: 0px;
            }
        }
    }

    &__title {
        font-size: 1.4em;
        color: #fff;
    }

    &__navigation {
        width: 320px;
        height: 100vh;
        position: fixed;
        left: -320px;
        top: 0;
        background: $dark-grey;
        transition: transform .4s linear;
        border-right: 2px solid #fff;

        &.mobile-nav__navigation-opened {  
            transform: translateX(320px);
        }

        &.mobile-nav__navigation-closed {  
            transform: translateX(-320px);
        }
    }

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(27, 27, 27, 0.8);
    }

    &__sidebar-close {
        width: 140px;
        height: 40px;
        margin-left: 40px;
        margin-top: 40px;
        position: relative;
        line-height: 40px;
        border: 2px solid #fff;  
        border-radius: 2px;    
        text-align: center;
        font-weight: normal;

        &-arrow {
            position: absolute;
            width: 15px;
            height: 15px;
            top: 12px;
            left: 15px;
            border-left: 2px solid #fff;
            border-top: 2px solid #fff;
            transform: rotate(-45deg);
        }
    }

    &__list {
        list-style-type: none;
    }    

    &__list-element {
        margin-top: 20px;

        &:first-child {
            margin-top: 50px;
        }
    }

    &__link {
        font-size: 1.5em;
        color: #fff;
    }  
}    

@media screen and (min-width: $tablet) {
    .mobile-nav {
        &__title {
            font-size: 2em;
        }
    }    
}

@media screen and (min-width: $desktop) {
    .mobile-nav {
        display: none;
    }
}