@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html {
    height: 100%;
    margin: 0 auto;
}

body {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    min-height: calc(100vh - 140px);
    padding-top: 80px;
}

textarea {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}