@mixin grey-button() {
    display: block;
    padding: 20px 0;
    width: 200px;
    background-color: $dark-grey;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    line-height: 1.1rem;

    &:hover { 
        color: $pear-green;
    }
}

@mixin grey-button-disabled() {
    background-color: #666;
    cursor: default;

    &:hover { 
        color: #fff;
    }
}