@import '../../../style-variables.scss';

.desktop-nav { 
    display: none;
}

@media screen and (min-width: $desktop) {
    .desktop-nav {
        height: 80px;
        width: 100%;
        margin: 0 auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: $dark-grey;
        color: #fff;

        &__hamburger {
            display: none;
        }

        &__title {
            margin-left: 150px;
            font-size: 2em;
            color: #fff;
        }

        &__list {
            list-style-type: none;
            margin: 0; 
            padding: 0;
        }
    
        &__list-element {
            float: left;
        }
    
        &__link {
            padding: 30px 1.5em;
            text-transform: uppercase;
            font-size: .9em;
            color: #fff;
    
            &:hover {
                color: $pear-green;
            }
        }     
    }
}