<div class="desktop-nav">
  <a routerLink="/" class="desktop-nav__title">Recruitment Helper</a>

  <nav>
    <ul class="desktop-nav__list">
      <li class="desktop-nav__list-element">
        <a routerLink="/" class="desktop-nav__link">Home</a>
      </li>
      <li class="desktop-nav__list-element">
        <a routerLink="/application" class="desktop-nav__link">Application</a>
      </li>
      <li *ngIf="!isUserAuthenticated" class="desktop-nav__list-element">
        <a routerLink="/login" class="desktop-nav__link">Login</a>
      </li>
      <li *ngIf="isUserAuthenticated" class="desktop-nav__list-element">
        <a routerLink="/candidates" class="desktop-nav__link">Candidates</a>
      </li>
      <li *ngIf="isUserAuthenticated" class="desktop-nav__list-element">
        <a routerLink="/account" class="desktop-nav__link">Account</a>
      </li>
    </ul>
  </nav>
</div>