<div class="desktop-nav">
  <a routerLink="/" class="desktop-nav__title">Recruitment Helper</a>

  <nav>
    <ul class="desktop-nav__list">
      <li class="desktop-nav__list-element">
        <a routerLink="/" class="desktop-nav__link">Home</a>
      </li>
      <li *ngIf="!isUserAuthenticated" class="desktop-nav__list-element">
        <a routerLink="/application" class="desktop-nav__link">Application</a>
      </li>
      <li *ngIf="!isUserAuthenticated" class="desktop-nav__list-element">
        <a routerLink="/login" class="desktop-nav__link">Login</a>
      </li>
      <li *ngIf="isUserAuthenticated && isAdmin" class="desktop-nav__list-element">
        <a routerLink="/users" class="desktop-nav__link">User create</a>
      </li>
      <li *ngIf="isUserAuthenticated && isRecruiter" class="desktop-nav__list-element">
        <a routerLink="/candidates" class="desktop-nav__link">Candidates</a>
      </li>
      <li *ngIf="isUserAuthenticated" class="desktop-nav__list-element">
        <a routerLink="/account" class="desktop-nav__link">Account</a>
      </li>
      <li *ngIf="isUserAuthenticated" (click)="logout()" class="desktop-nav__list-element">
        <a class="desktop-nav__link">Logout</a>
      </li>
    </ul>
  </nav>
</div>
