@import '../../style-variables.scss';

.home {
    width: 100%;
    margin-top: 80px;

    &--company {
        min-height: 50vh;  
        background: $dark-grey;
        color: #fff;
    }

    &--application {
        min-height: 50vh;
    }

    &--info {
        height: 70%;
        width: 80%;
        margin: 30px auto;
        text-align: left;
        max-width: 900px;
    }

    &--title { 
        margin-top: 0;
        font-size: 2rem;
        position: relative;
        font-weight: 500;

        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            width: 40px;
            height: 2px;
            background-color: $pear-green;
        }
    }

    &--text {
        font-size: 1rem;
        margin-bottom: 70px;
    }

    &--link {
        display: block;
        margin: 0 auto 30px auto;
        padding: 20px 0;
        width: 200px;
        background-color: $dark-grey;
        font-size: 1.1rem;
        color: #fff;
        text-align: center;
        border-radius: 3px;
        line-height: 1.1rem;

        &:hover { 
            color: $pear-green;
        }
    }
}

@media screen and (min-width: $tablet) {
    .home {
        &--company {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--application {
            min-height: 50vh;  
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--info {
            width: 60%;
        }

        &--title { 
            font-size: 4rem;
        }
    }
}    

@media screen and (min-width: $desktop) {
    .home {
        &--info {
            width: 40%;
        }
    }
}    